.filter {
    padding: 16px;
    padding-bottom: 0px;
    width: 100%;
    justify-content: space-between;
}

.addnew-btn {
    margin-top: 4px;
}

.table {
    padding: 0 16px;
}

.action-btn {
    border: none;
    padding: 0;
}