.logo {
    margin: 0 16px;
    display: block;
    height: 48px;
}

.header-logo {
    text-transform: uppercase;
    font-weight: 600;
    color: #0400ff;
    font-size: 16px;
    cursor: pointer;
}

.sidebar {
    background-color: white !important;
    border-right: 1px solid #eaeaea !important;
    text-align: end;
}

.menu {
    /* background-color: #0040ff; */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 84vh;
}

.content {
    background: white;
}

.logout-button {
    margin-top: 12px;
    margin-left: 12px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: sticky; */
    top: 0;
    /* z-index: 9999; */
    background: #fff;
    padding: 0 16px;
    border-bottom: solid 1px #eaeaea;
}

.logout-button-mobile {
    width: 100%;
    height: 48px;
}

.menu-item {
    display: flex !important;
    align-items: center;
}

@media (max-width: 768px) {
    .logo {
        margin: 0;
    }

    .menu-button {
        padding: 0 !important;
    }
}

.avatar {
    margin-right: 24px;
}

.avatar-img {
    border: solid 1px #0400ff;
    cursor: pointer;
}

.name {
    margin: 0 !important;
}